<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="/public/css/style.css" rel="stylesheet">
    <link href="/public/css/index.css" rel="stylesheet">
    <title></title>
</head>
<body>
<div class="left">
        <div class="left-box">
            <ul class="book-shelf">
                <li><div class="shelf-box"><div class="book"></div></div></li>
            </ul>
        </div>
</div>
<div class="right">
    <div class="right-box">

    </div>
</div>
</body>
</html>